services:
  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"   # S3 API
      - "9001:9001"   # Web console
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data

  mc:
    image: minio/mc:latest
    depends_on:
      - minio
    entrypoint: ["/bin/sh","-lc"]
    command: >
      "
      mc alias set local http://minio:9000 minioadmin minioadmin &&
      mc mb -p local/receipts || true
      "
volumes:
  minio_data:
